<blockquote>
  <p><%= @input %></p>
  <p><em>—You</em></p>
</blockquote>

<blockquote>
  <p><%= @answer %></p>
  <p><em>—Your coach</em></p>
</blockquote>

<%= link_to "Ask another question", ask_path %>
